/* Trending.css */
.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.post h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.user-name a {
    color: black; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita el subrayado del enlace */
  }
  
  .user-name a:hover {
    color: darkgray; /* Opcional: Cambia el color del enlace cuando se pasa el cursor sobre él */
    text-decoration: underline; /* Opcional: Añade subrayado cuando se pasa el cursor sobre el enlace */
  }
  