.btn-primary {
    background-color: #007bff; /* Color principal para el botón, usa un color que destaque */
    border-color: #007bff; /* Asegura que el borde sea del mismo color que el fondo */
    padding: 10px 20px; /* Aumenta el padding para un botón más grande y fácil de clickear */
    margin-top: 20px; /* Añade margen superior para separarlo de otros elementos */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Añade sombra para un efecto elevado */
}
